@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to library control system (LCS)</h1>

<form asp-controller="Home" asp-action="Show" method="get">
    <button type="submit" class="btn btn-primary">Show UML-diagram</button>
</form>
