@{
    ViewData["Title"] = "UML Діаграма";
}

<h1>@ViewData["Title"]</h1>

<p>Нижче представлена UML-діаграма бази даних для керування процесами мережі бібліотек:</p>

<img src="~/images/UMLDiagram.svg" alt="UML Діаграма бази даних" style="max-width:100%; height:auto;" />
